
@{
    ViewData["Title"] = "QianDaoAdd";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="js/jquery-1.9.0.js" type="text/javascript" language="javascript"></script>
<script language="javascript" type="text/javascript" src="js/area.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2" language="javascript"></script>
<style>
    h4 {
        text-align: center;
        font-size: 50pt;
        font-family: 汉仪中圆简;
        color: darkturquoise
    }

    hr {
        width: 90%;
        margin: 0 auto;
        border: 0;
        height: 2px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    #jiben {
        font-weight: bold;
        font-size: 12pt;
        margin-left: 85px
    }

    #zhu {
        color: grey;
        margin-left: 1325px;
    }

    .layui-table {
        width: 1000px;
        margin-left: 300px
    }

    .layui-form-item {
        margin-left: 600px
    }
</style>
<h4>添加外勤签到</h4>
<span id="jiben">基本信息</span>
<span id="zhu">注：带有"*"必填项</span>
<hr />
<form class="layui-form">
    <table class="layui-table">
        <tr>
            <td>客户名称：</td>
            <td>
                <div class="layui-input-inline">
                    <div class="layui-input-block">
                        <select id="KeHu_ID" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>员工：</td>
            <td>
                <div class="layui-input-inline">
                    <div class="layui-input-block">
                        <select id="Emp_ID" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>签到时间：</td>
            <td>
                <div class="layui-input-inline">
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="qian_date" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>签到地址：</td>
            <td>
                <div class="layui-input-inline">
                    <div class="layui-input-block">
                        <input id="QianAddress" type="text" value="" placeholder="请输入签到地址" class="layui-input search_input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>签到距离：</td>
            <td>
                <div class="layui-input-inline">
                    <div class="layui-input-block">
                        <input id="QianDistince" type="text" value="" placeholder="签到距离" class="layui-input search_input">
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="save">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<body>
    <div>
        <table border="0" align="center" cellpadding="0" cellspacing="0" class="w1000">
            <tr>
                <td>
                <td valign="top">
                    <table width="1000px" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <table width="1000px" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="19"><span style="padding-top: 2px;"></span></td>
                                        <td>
                                            <table width="380" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="50"> </td>
                                                    <td width="19"><span style="padding-top: 2px;"></span></td>
                                                    <td width="90" style="font-size: 12px;"> 出发城市 </td>
                                                    <td>
                                                        <input name="farea" type="text" id="farea" size="10" />
                                                    </td>
                                                    <td width="26" align="center" style="font-size: 12px;"> 到 </td>
                                                    <td width="110">
                                                        <input name="tarea" type="text" id="tarea" size="10" />
                                                    </td>
                                                    <td><div onclick="SetMap2(); return false;" style="cursor: pointer; width:81px;"> <img src="~/Images/9.png" alt="查询" width="20" height="20" style="vertical-align: middle;" />查询</div></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                    </table>
        </table>
    </div>
    <table>
        <tr>
            <td><div style="border: #cccccc 1px solid; padding:5px;"></div></td>
        </tr>
        <tr>
            <td valign="top">
                <div style="float: left; width: 670px; vertical-align: top;">
                    <div style="height: 500px; border: 1px solid gray" id="container">      </div>
                </div>
                <div style="float: right; width: 300px; vertical-align: top;">
                    <div style="border: #cccccc 1px solid;">
                        <div class="content_title" style="color:Red; background-image:url();border-bottom:solid 1px #ccc; height:30px; text-align:center; font-weight:bold; line-height:30px;" id="div_title">查询结果</div>
                        <div id="div_gongli" style="color:#336600; font-weight:bold; padding-left:5px; line-height:35px; font-size:14px;"></div>
                        <div id="results" style="font-size: 12px;">        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>

<script language="javascript" type="text/javascript">
    //绑定客户下拉框
    $.get('http://localhost:49233/api/GetCustomer', function (data) {
        $('#KeHu_ID').empty();
        $.each(data, function (index, item) {
            var option = '<option value=""></option>';
            option += '<option value="' + item.customer_ID + '">' + item.customer_Name + '</option>';
            $('#KeHu_ID').append(option);
        })
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    });
    //绑定员工
    $.get('http://localhost:49233/api/GetEmps', function (data) {
        $('#Emp_ID').empty();
        $.each(data, function (index, item) {
            var option = '<option value=""></option>';
            option += '<option value="' + item.emp_ID + '">' + item.emp_Name + '</option>';
            $('#Emp_ID').append(option);
        })
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    });
    //点击提交事件
    $('#save').click(function () {
        var obj = {
            "Customer_ID": $('#KeHu_ID').val(),
            "Emp_ID": $('#Emp_ID').val(),
            "QianDate": $('#qian_date').val(),
            "QianAddress": $('#QianAddress').val(),
            "QianDistince": $('#QianDistince').val()
        };
        //通过ajax传到后台
        $.ajax({
            url: 'http://localhost:49233/api/InsertQianDao',
            type: 'post',
            data: obj,
            dataType: 'text',
            contentType: 'application/x-www-form-urlencoded',
            accepts: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data > 0) {
                    alert('签到成功');
                    window.location.href = 'SaleAdmin/SaleShow';
                }
                else if (data == -1) {
                    alert('迟到');
                    window.location.href = 'SaleAdmin/SaleShow';
                }
                else {
                    alert('签到失败');
                    window.location.reload();
                }
            }
        });
    });

    //表单渲染
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        form.render();
        //日期时间选择器
        laydate.render({
            elem: '#qian_date'
            , type: 'datetime'
        });
    });


    var map = new BMap.Map("container");
    //var mapStyle = { style: "mapbox" }
    //map.setMapStyle(mapStyle);
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);
    //map.centerAndZoom(point, 11);
    map.addControl(new BMap.NavigationControl()); // 添加平移缩放控件
    map.addControl(new BMap.OverviewMapControl()); //添加缩略地图控件
    map.enableScrollWheelZoom(); //启用滚轮放大缩小
    map.setMapStyle({ style: "mapbox" });
    function SetMap() {
        var oGl = document.getElementById("div_gongli");
        var ofprovince = document.getElementById("AreaDept1_Province")
        var ofname = document.getElementById("AreaDept1_Prefecture")
        var ofxian = document.getElementById("AreaDept1_Xian")
        var otprovince = document.getElementById("mdd")
        var otname = document.getElementById("cdd");
        var otxian = document.getElementById("xian")
        var output = "全程：";
        if (ofname.value == "") {
            alert('请输入出发地！');
            return;
        }
        if (otname.value == "") {
            alert('请输入到达地!');
            return;
        }
        var title = document.getElementById("div_title");
        title.innerText = "'" + ofprovince.value + ofname.value + ofxian.value + "到" + otprovince.value + otname.value + otxian.value + "' 查询结果";
        var searchComplete = function (results) {
            if (transit.getStatus() != BMAP_STATUS_SUCCESS) { return; }
            var plan = results.getPlan(0);
            output += plan.getDistance(true);       //获取距离
            output += "/";
            output += plan.getDuration(true);        //获取时间
        }
        var transit = new BMap.DrivingRoute(map, {
            renderOptions: { map: map, panel: "results", autoViewport: true },
            onSearchComplete: searchComplete,
            onPolylinesSet: function () { oGl.innerText = output; }
        });
        transit.search(ofprovince.value + ofname.value + ofxian.value, otprovince.value + otname.value + otxian.value);
    }
    function SetMap2() {
        var oGl = document.getElementById("div_gongli");
        var ofname = document.getElementById("farea");
        var otname = document.getElementById("tarea");
        var output = "全程：";
        if (ofname.value == "") {
            alert('请输入出发地！');
            return;
        }
        if (otname.value == "") {
            alert('请输入到达地!');
            return;
        }
        var title = document.getElementById("div_title");
        title.innerText = "'" + ofname.value + "到" + otname.value + "' 查询结果";
        var searchComplete = function (results) {
            if (transit.getStatus() != BMAP_STATUS_SUCCESS) { return; }
            var plan = results.getPlan(0);
            output += plan.getDistance(true);       //获取距离
            output += "/";
            output += plan.getDuration(true);        //获取时间
            var a = output.split('/')[0].split('公')[0].split('：')[1];
            $('#QianDistince').val(a);
        }
        alert(ofname.value);
        $('#QianAddress').val(ofname.value);

        var transit = new BMap.DrivingRoute(map, {
            renderOptions: { map: map, panel: "results", autoViewport: true },
            onSearchComplete: searchComplete,
            onPolylinesSet: function () { oGl.innerText = output; }
        });
        transit.search(ofname.value, otname.value);
    }
</script>
