
@{
    ViewData["Title"] = "RegisterUserAndRole";
}

<html>
<head>

    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
    <style>

        .title {
            text-align: center;
            font-size: 50px;
            color: crimson;
        }

        .input {
            width: 150px;
            height: 35px;
        }

        .font {
            color: red;
        }

        .class-div {
            margin-top: 500px;
            position: absolute;
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="class-div">
        <h6 class="title"> 用户授权信息</h6>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="text" id="user_Name" value="@ViewBag.user_Name" disabled="disabled" lay-verify="title" autocomplete="off" class="input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色设置</label>
            <div class="layui-input-block" id="role"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" id="btn_Register" class="layui-btn" lay-submit="" lay-filter="demo1">下一步</button>
                <button type="button" id="btn_Login" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    //div整体页面盒子居中
    $(document).ready(function () {
        var iWidth = 500; //弹出窗口的宽度;
        var iHeight = 400; //弹出窗口的高度;
        var iTop = (document.documentElement.clientHeight - iHeight) / 2; //获得窗口的垂直位置;
        var iLeft = (document.documentElement.clientWidth - iWidth) / 2; //获得窗口的水平位置;
        $("#class-div").height(iHeight)
            .width(iWidth)
            .css('position', 'absolute')
            .css("top", iTop)
            .css("left", iLeft)
    });
    //初始化加载所有角色信息
    $(function () {
        //判断是否非法跳转
        if ($("#user_Name").val() == "" || $("#user_Name").val() == null || $("#user_Name").val() == undefined) {
            alert('非法登陆,请您注册用户在进行分配角色!');
            location.href = "Register";
        }
        //AJAX去遍历循环添加角色
        $.ajax({
            url: 'http://localhost:49233/api/ToAllocate/GetRoleList',
            type: 'get',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            accepts: 'application/x-www-form-urlencoded',
            success: function (data) {
                var tr = '';
                $.each(data, function (i, t) {
                    tr = '<input type="checkbox" class="checkboxwa" value="' + t.id + '">' + t.role_Name + '';
                    $('#role').append(tr);
                })

            }
        })
    })


    //取消角色分配的同时删除用户并跳转到登录页面
    $('#btn_Login').click(function () {
        var user_Name = $('#user_Name').val();
        alert(user_Name);
        $.ajax({
            url: 'http://localhost:49233/api/UserLogin/DeleteUser?User_Name=' + user_Name,
            type: 'post',
            dataType: 'text',
            contentType: 'application/x-www-form-urlencoded',
            accepts: 'application/x-www-form-urlencoded',
            //data: user_Name,
            success: function (data) {
                alert(data);
                if (data > 0) {
                    alert("用户已取消本次角色操作!");
                    location.href = "Login";
                } else {
                    alert("取消本次角色操作失败!");
                    return;
                }
            }
        })
        
    })

    //开始注册
    $('#btn_Register').click(function () {
        //定义变量存储角色ID
        var ids = "";

        //遍历给ids赋值
        $.each($(".checkboxwa:checked"), function (index, item) {
            ids += $(item).val() + ",";
        });
        //去掉最后一个,号
        ids = ids.substring(0, ids.length - 1);
        //判断当选择多个角色或者没选择角色给出提示
        if (ids == "" || ids.search(",") != -1) {
            alert('角色分配不能超过一个或未选则角色!');
            return;
        }
        //定义对象存储属性
        var obj = {
            "User_Name": $("#user_Name").val(),
            "Role_ID": ids
        };

        $.ajax({
            url: 'http://localhost:49233/api/ToAllocate/AddUserAndRole',
            type: 'post',
            dataType: 'text',
            contentType: 'application/x-www-form-urlencoded',
            accepts: 'application/x-www-form-urlencoded',
            data: obj,
            success: function (data) {
                if (data > 0) {
                    alert("注册成功!");
                    location.href = "Login";
                } else {
                    alert("注册失败!");
                    return;
                }
            }
        });


    })

</script>

